body{
    font-family: "楷书";
    line-height: 1.6;
    color: #000;
    background-color:#fefefe;
}
.header{
    background-image:linear-gradient(152deg,#454545 0%,#151234 100% );
    padding: 10rem 2rem 10rem;
    text-align: center;
    color: #888888;
    margin-bottom: 2rem;
    background-size: cover;
}
.header h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
}
.navbar{
    background-color: wheat;
    box-shadow: 0 2px 15px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index:100;
}
.nav-container{
    max-width: 1200px;
    padding: 1rem ;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
.nav-link{
    color: #2e754e;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.face{
    width: 4rem;
    height: 4rem;
    border: 2px solid #245465;
    border-radius: 50%;
    margin-right: 1rem;
    transition: all  0 ease;
}
.nav-link:hover{
    background-color:wheat;
    color: white;
}.main-content{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
}
.content-card{
    background-color: white;
    box-shadow: 0 2px 15px rgba(0,0,0,0.08);
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 1rem ;
    transition: all 0.3 ease-in-out;
}
.content-card:hover{
    transform: translateY(-5px);
}
.timeline{
    border-left: 3px solid #000;
    padding-left: 2rem;
    margin: 2rem 0;
}
.timeline-item{
    padding: 1rem;
    position: relative;
    background-color: white;
    border-radius: 8px;
}
.timeline-item::before{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: skyblue;
    position: absolute;
    top: 2.5rem;
    left: -2.5rem;
}
footer{
    padding: 4rem;
    background-color: #2e754e;
    color:#f3e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hbb{
    background-color:wheat;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1000;
}
.line{
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}
.nav-link{
    position: fixed;
    display: flex;
    top: 0;
    left:-200% ;
    background-color: wheat;
    padding: 40px 20px;
}
@media(min-width:768px){
    .hbb{
        display: none;
    }
    .nav-link{
        position: static;
        left: auto;
        height: auto;
        padding: 0px;
    }
}
.hbb.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hbb.active .line:nth-child(2){
    opacity: 0;
}
.hbb.active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);

}